body{
  font-family: Verdana, sans-serif;
  font-size: 18px;
}
header, footer{background-color: #8B5D33;
}
.site-title {
  color: #869D7A;
}
#R3{
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 1);
}
ul{
  list-style-type: square;
}
ul li:nth-child(1){
  background-color: #A4C2A8;
}
ul li:nth-child(2){
background-color: #759EB8;
}
nav.no-bullets{
  list-style-type: none;
}