.wrapper {
    width: 70%;
    max-width: 900px;
    background: #D4E9E7;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}
h1 {
    color: white;
    font-size: 290%;
    text-align: center;
}
a {
    color: black;
}
a:link {
    text-decoration: none;
    font-size: 150%;
    
}
.centered {
    background: url(/images/lone-starfish-wide.jpg) bottom;
    text-align: center;
    padding: 60px 0;
}
body {
    font-family: arial, sans-serif;
    background-color: #aad4cf;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;


}
nav ul {
    text-align: center;
}
nav li {
    display: inline;
    margin: 0 70px;
    position: relative;
}
.image img{
    width: 200px;
}
.img .box{
    width: 200px;
    margin: 0 20px;
    float: left;
    box-sizing: border-box;
}
.clearfix::after {
    content:"";
    display: block;
    clear: both;
}
.box {
    text-align: center;
}
#Yourname {
    width: 99%;
}
#Youremail {
    width: 99%;
}
#Yourmessage {
    width: 99%;
    height: 80px;
}
#cage {
    border: 1px solid black;
    border-spacing: 10px 30px;
}
footer {
    text-align: right;
}